<style>
    /* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 1rem; /* base font size */
}

/* Header */
.home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0.625rem 1.25rem;  10px 20px converted */
    background-color: #000;
    color: #fff;
}

.home-logo h1 {
    margin: 0;
    height: 3.125rem; /* 50px converted */
    width: 12.5rem; /* 200px converted */
}
.home-logo img{
    padding-left: 2rem;
}


.home-icons {
    display: flex;
    gap: 0.6rem;
    padding-right: 3rem;
}


 .home-icon{
     width: 2rem;
     height: 2.2rem;
      font-size: 1.7rem;
  }

</style>

<!-- //---------header---------// -->
<body>

    <header class="home-header ">
        <div class="home-logo">
            <!-- <h1>Sip Savvy</h1> -->
            <img src="/public/admin/img/log2.webp" alt="">
        </div>
      
        <div class="home-icons">
           
            <!-- <img src="/public/admin/img/profile.webp" class="home-icon" alt=""> -->
            <i class="bi bi-person-circle home-icon"></i>
          
        </div>
    </header>

    <%- include('alert')  %>