 <!-- //--------Most popular product---------// -->


 <section class="home-most-popular-categories">
    <h1 class="home-title">Popular Categories</h1>
    <div class="home-category-container">
        <div class="home-category" data-aos="zoom-in-right">
                <a href="/allproduct?productCategory=667d78a7a879fcad2e04cdcb">
                    <img src="/public/user/img/Whisky-intro.webp" alt="Whisky">
                </a>
                <p>Whisky</p>
            </div>
            <div class="home-category " data-aos="zoom-in-up">
                <a href="/allproduct?productCategory=667d94b30c7e022cab20948a">
                    <img src="/public/user/img/Vodka-intro.webp" alt="Whisky">
                </a>
                <p>Vodka</p>
            </div>
            <div class="home-category" data-aos="zoom-in-left">
                <a href="/allproduct?productCategory=667e3e831728c0360822b7e2">
                    <img src="/public//user/img/Rum-intro.webp" alt="Wine">
                </a>
            <p>Rum</p>
        </div>
        
    </div>
</section>

<section class="home-most-popular-categories">
    <div class="home-category-container" >
        <div class="home-category" data-aos="zoom-in-right">
                <a href="/allproduct?productCategory=669b5c1755b0fb7308c0afe6">
                    <img src="/public/user/img/Gin-intro.webp" alt="Whisky">
                </a>
                <p>Gin</p>
            </div>
            <div class="home-category" data-aos="zoom-in-up">
                <a href="/allproduct?productCategory=667e3d3692b6ca3bb57c14d5">
                    <img src="/public//user/img/Beer-intro.webp" alt="Vodka">
                </a>
                <p>Beer</p>
            </div>
            <div class="home-category" data-aos="zoom-in-left">
                <a href="/allproduct">
                    <img src="/public/user/img/All-product-intro.webp" alt="Wine">
                </a>
            <p>All Product</p>
        </div>
        
    </div>
</section>
