 <!-- //--------Most popular product---------// -->


 <section class="home-most-popular-categories">
    <h1 class="home-title">Categories</h1>
    <div class="home-category-container">
        <div class="home-category home-whisky">
            <img src="https://static.wixstatic.com/media/6dcf1f_47af97b7223b4d0e942f1f2590ce1d15~mv2.png/v1/fill/w_161,h_243,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Bowmore_Islay_Single_Malt_Scotch_Whisky%2C.png" alt="Whisky">
            <p>Whisky</p>
        </div>
        <div class="home-category home-vodka" >
            <img src="https://static.wixstatic.com/media/6dcf1f_8278c50a031c4374bd6b44afd130837e~mv2.png/v1/fill/w_243,h_243,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/vodka.png" alt="Vodka">
            <p>Vodka</p>
        </div>
        <div class="home-category home-wine">
            <img src="https://static.wixstatic.com/media/c837a6_24bc47c82c4e44c496b517fad1b91a80~mv2.png/v1/fill/w_189,h_256,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/B_009_3.png" alt="Wine">
            <p>Wine</p>
        </div>
        
    </div>
</section>

<!-- <section class="home-most-popular-categories">
    
    <div class="home-category-container">
        <div class="home-category home-whisky">
            <img src="https://static.wixstatic.com/media/6dcf1f_47af97b7223b4d0e942f1f2590ce1d15~mv2.png/v1/fill/w_161,h_243,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Bowmore_Islay_Single_Malt_Scotch_Whisky%2C.png" alt="Whisky">
            <p>Rum</p>
        </div>
        <div class="home-category home-vodka" >
            <img src="https://static.wixstatic.com/media/6dcf1f_8278c50a031c4374bd6b44afd130837e~mv2.png/v1/fill/w_243,h_243,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/vodka.png" alt="Vodka">
            <p>Gin</p>
        </div>
        <div class="home-category home-wine">
            <img src="https://static.wixstatic.com/media/c837a6_24bc47c82c4e44c496b517fad1b91a80~mv2.png/v1/fill/w_189,h_256,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/B_009_3.png" alt="Wine">
            <p>Beer</p>
        </div>
        
    </div>
</section> -->
