        <!-- Footer content -->
        <footer class="home-footer">
            <div class="home-footer-container">
                <div class="home-footer-section home-footer-brand">
                    <!-- <h2 class="home-footer-title">Sip Savvy</h2> -->
                    <img src="/public/user/img/log2.webp" alt="">

                    <p class="follow">Follow us on</p>
                    <div class="home-footer-social-icons">
                        <a href="#"><i class="bi bi-facebook"></i></a>
                        <a href="#"><i class="bi bi-twitter"></i></a>
                        <a href="#"><i class="bi bi-instagram"></i></a>
                        <a href="#"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
                <div class="home-footer-section home-footer-contact">
                    <h3>Contact</h3>
                    <p>Perumon, Kollam</p>
                    <p>sipsavvy@gmail.com</p>
                    <p>+97-123-456-7890</p>
                </div>
                <div class="home-footer-section home-footer-account">
                    <h3>Account</h3>
                    <ul>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Login / Register</a></li>
                        <li><a href="#">Cart</a></li>
                        <li><a href="#">Wishlist</a></li>
                        <li><a href="#">Shop</a></li>
                    </ul>
                </div>
                <div class="home-footer-section home-footer-quick-link">
                    <h3>Quick Link</h3>
                    <ul>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms Of Use</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="home-footer-section home-footer-exclusive">
                    <h3>Exclusive</h3>
                    <p>Subscribe</p>
                    <p>Get 10% off your first order</p>
                    <form action="#">
                        <input type="email" placeholder="Enter your email" class="footer-contact" required>
                        <button type="submit"><i class="fas fa-paper-plane"> <i class="bi bi-arrow-right-circle"></i> </i></button>
                    </form>
                </div>
            </div>
            <div class="home-footer-bottom">
                <p>&copy; 2024 by Sip Savvy</p>
            </div>
        </footer>

    
