
<body>


    <style>
        .dropdown a {
        color: #fefeeb;
        background:none;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;
    }

    .dropdown-menu {
        background: #232323;
        border-radius: 10px;
    }
    .home-icon{
        width: 2rem;
        height: 2.2rem;
        font-size: 1.7rem;
    }
    </style>
          <!-- //---------header---------// -->

    <header class="home-header">
        <div class="home-logo">
            <!-- <h1>Sip Savvy</h1> -->
            <img src="/public/user/img/log.webp" alt="">
        </div>
        <div class="home-search">
            <input type="text" placeholder="search a product">
            <!-- <img src="/public/user/img/search.webp" class="im" alt=""> -->
            <h3 class="bi bi-search im"></h3>
            <!-- <h2 class="im">0</h2> -->

        </div>
        <div class="home-nav">
            <ul>
                <li><a href="/home">Home</a></li>
                <!-- <li><a href="#">Catergorie</a></li> -->
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">Category</a>
                    <div class="dropdown-menu">
                        <a href="/product/Whisky" class="dropdown-item">Whisky</a>
                        <!-- <a href="#" class="dropdown-item">Wine</a> -->
                        <a href="/product/Vodka" class="dropdown-item">Vodka</a>
                        <a href="/product/Rum" class="dropdown-item">Rum</a>
                        <a href="/product/Gin" class="dropdown-item">Gin</a>
                        <a href="/product/Beer" class="dropdown-item">Beer</a>
                    </div>
                </div>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <!-- <li><a href="#">Bear&Mixture</a></li>
                <li><a href="#">Champagne</a></li> -->
            </ul>
        </div>
        <div class="home-icons">
            <i class="bi bi-heart-fill home-icon"></i>
            <i class="bi bi-cart3 home-icon"></i>

            <% if(user){ %>

                <a href="/logout" class="text-white">
                    <i class="bi bi-box-arrow-right home-icon"></i>
                </a>
            <% }else{ %>
                <a href="/login" class="text-white">
                    <i class="bi bi-person-circle home-icon"></i>
                </a>
            <% } %>
           
           
        </div>
    </header>

    <%- include('alert')  %>