<style>
    .pagenot-found-container{
        display: flex;
        align-items: center;
        justify-content: center;
        background: url('/public/user/img/404-page.webp');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        min-height: 100vh;
    }
    .pagenot-found-container button{
        margin-bottom: 5rem;
    }
</style>

<!-------------------------------------------- 404 Page ------------------------------------------------->

<div class="pagenot-found-container">
    <button class="btn btn-dark" onclick="history.back()">Go Back</button>
</div>